{% extends "catalog/base_generic.html" %}

{% block content %}
<h1>Local Library Home</h1>
  {% for book in book_list%}
    <h1>{{ book.title }}</h1>
    <p> Books name: {{ book.title }}</p>
    <p> publition date: {{ book.pub_date }}</p>
    <p> number_of_pages: {{ book.number_of_pages }} </p>
    <p> is first edition: {{ book.is_first_edition }} </p>
    <hr>

       <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
        <input type="submit" value="Delete" onclick=view.delete_row() />
        <input type="submit" value="Edit" />
    </form>


  {% endfor %}
{% endblock %}
